<svg class="{{ class }}" width="320" height="22" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 785.23 64.13" aria-labelledby="truefit-logo-title" role="img">
  <title id="truefit-logo-title">TrueFit Nutrition</title>
  <g fill="currentColor">
    <path d="M44.8,3.79v9.2h-15.13v47.6h-11.39V12.99H3.14V3.79h41.66Z"/>
    <path d="M82.4,60.59l-12.53-22.13h-5.37v22.13h-11.39V3.79h21.32c4.39,0,8.14.77,11.23,2.32,3.09,1.55,5.41,3.64,6.96,6.26,1.55,2.64,2.32,5.58,2.32,8.83,0,3.74-1.09,7.12-3.25,10.13-2.17,3.01-5.4,5.09-9.68,6.22l13.59,23.03h-13.18ZM64.49,29.91h9.52c3.09,0,5.4-.74,6.92-2.23,1.52-1.5,2.28-3.57,2.28-6.23s-.76-4.62-2.28-6.06c-1.52-1.44-3.82-2.16-6.92-2.16h-9.52v16.68Z"/>
    <path d="M116.49,3.79v35.15c0,3.85,1,6.79,3.01,8.83,2,2.03,4.83,3.05,8.46,3.05s6.54-1.01,8.55-3.05c2.01-2.04,3.01-4.98,3.01-8.83V3.79h11.47v35.07c0,4.83-1.04,8.91-3.13,12.24-2.09,3.34-4.88,5.85-8.38,7.53-3.5,1.68-7.39,2.52-11.68,2.52s-8.07-.84-11.51-2.52c-3.45-1.68-6.17-4.19-8.18-7.53-2.01-3.33-3.01-7.42-3.01-12.24V3.79h11.39Z"/>
    <path d="M173.37,12.99v14.24h19.12v9.03h-19.12v15.05h21.56v9.28h-32.95V3.71h32.95v9.28h-21.56Z"/>
    <path d="M240.34,3.79v9.2h-23.68v14.56h18.15v9.03h-18.15v24.01h-11.39V3.79h35.07Z"/>
    <path d="M259.78,3.79v56.8h-11.39V3.79h11.39Z"/>
    <path d="M309.67,3.79v9.2h-15.13v47.6h-11.39V12.99h-15.14V3.79h41.66Z"/>
    <path d="M410.39,60.59h-11.39l-25.8-38.98v38.98h-11.39V3.71h11.39l25.8,39.06V3.71h11.39v56.88Z"/>
    <path d="M432.85,3.79v35.15c0,3.85,1,6.79,3.01,8.83,2,2.03,4.83,3.05,8.46,3.05s6.54-1.01,8.55-3.05c2.01-2.04,3.01-4.98,3.01-8.83V3.79h11.47v35.07c0,4.83-1.04,8.91-3.13,12.24-2.09,3.34-4.88,5.85-8.38,7.53s-7.39,2.52-11.68,2.52-8.07-.84-11.51-2.52c-3.45-1.68-6.17-4.19-8.18-7.53-2.01-3.33-3.01-7.42-3.01-12.24V3.79h11.39Z"/>
    <path d="M516.99,3.79v9.2h-15.13v47.6h-11.39V12.99h-15.14V3.79h41.66Z"/>
    <path d="M554.58,60.59l-12.53-22.13h-5.37v22.13h-11.39V3.79h21.32c4.39,0,8.14.77,11.23,2.32,3.09,1.55,5.41,3.64,6.96,6.26,1.55,2.64,2.32,5.58,2.32,8.83,0,3.74-1.09,7.12-3.25,10.13-2.17,3.01-5.4,5.09-9.68,6.22l13.59,23.03h-13.18ZM536.68,29.91h9.52c3.09,0,5.4-.74,6.92-2.23,1.52-1.5,2.28-3.57,2.28-6.23s-.76-4.62-2.28-6.06c-1.52-1.44-3.82-2.16-6.92-2.16h-9.52v16.68Z"/>
    <path d="M588.84,3.79v56.8h-11.39V3.79h11.39Z"/>
    <path d="M638.72,3.79v9.2h-15.13v47.6h-11.39V12.99h-15.14V3.79h41.66Z"/>
    <path d="M658.41,3.79v56.8h-11.39V3.79h11.39Z"/>
    <path d="M681.36,57.41c-4.45-2.5-7.98-5.95-10.58-10.38-2.61-4.42-3.91-9.42-3.91-15.01s1.3-10.51,3.91-14.93c2.6-4.42,6.13-7.88,10.58-10.38,4.45-2.49,9.33-3.74,14.64-3.74s10.27,1.25,14.69,3.74c4.42,2.5,7.92,5.95,10.5,10.38,2.58,4.42,3.86,9.4,3.86,14.93s-1.29,10.59-3.86,15.01c-2.58,4.42-6.09,7.88-10.54,10.38-4.45,2.5-9.33,3.74-14.65,3.74s-10.2-1.24-14.64-3.74ZM705.03,48.67c2.61-1.55,4.64-3.75,6.11-6.64,1.46-2.87,2.2-6.21,2.2-10.01s-.73-7.12-2.2-9.97c-1.47-2.85-3.5-5.03-6.11-6.56-2.6-1.52-5.61-2.28-9.03-2.28s-6.44.76-9.07,2.28c-2.63,1.52-4.68,3.71-6.14,6.56-1.47,2.85-2.2,6.17-2.2,9.97s.73,7.13,2.2,10.01c1.46,2.88,3.51,5.09,6.14,6.64,2.63,1.54,5.66,2.32,9.07,2.32s6.43-.77,9.03-2.32Z"/>
    <path d="M782.09,60.59h-11.39l-25.8-38.98v38.98h-11.39V3.71h11.39l25.8,39.06V3.71h11.39v56.88Z"/>
  </g>
  <path fill="currentColor" d="M324.76,4.52c1.06.61,1.88,1.45,2.48,2.52.6,1.07.9,2.27.9,3.6s-.3,2.54-.9,3.62c-.6,1.08-1.43,1.92-2.48,2.53-1.06.61-2.25.91-3.58.91s-2.56-.3-3.62-.91c-1.06-.61-1.88-1.45-2.48-2.53-.6-1.08-.9-2.29-.9-3.62s.3-2.53.9-3.6c.6-1.07,1.42-1.91,2.48-2.52,1.06-.61,2.26-.91,3.62-.91s2.53.3,3.58.91ZM325.19,14.74c1.02-1.06,1.53-2.42,1.53-4.1s-.51-3.04-1.53-4.1c-1.02-1.06-2.36-1.59-4.02-1.59s-3.02.53-4.02,1.59c-1,1.06-1.5,2.42-1.5,4.1s.5,3.05,1.5,4.1c1,1.06,2.34,1.59,4.02,1.59s2.99-.53,4.02-1.59ZM323.84,10.59c-.29.38-.68.65-1.19.81l1.93,2.86-2.17.03-1.65-2.76h-.59v2.76h-1.79v-7.41h3.31c.78,0,1.41.21,1.88.62.47.41.71.98.71,1.69,0,.55-.14,1.02-.43,1.4ZM320.17,10.05h1.41c.25,0,.47-.07.64-.21s.26-.33.26-.59-.09-.44-.26-.57c-.17-.13-.39-.19-.64-.19h-1.41v1.55Z"/>
</svg>