{%- liquid
  assign banner_id = 'ImageBanner-' | append: section.id
  assign image_mobile = section.settings.dynamic_mobile_image | default: section.settings.mobile_image | default: section.settings.dynamic_desktop_image | default: section.settings.desktop_image
  assign image_desktop = section.settings.dynamic_desktop_image | default: section.settings.desktop_image | default: image_mobile
-%}
<div
  class="[--ratio-percent:var(--mobile-aspect-padding)] tablet:[--ratio-percent:var(--desktop-aspect-padding)]"
  style="--mobile-aspect-padding:{{ 100 | divided_by: image_mobile.aspect_ratio }}%;--desktop-aspect-padding:{{ 100 | divided_by: image_desktop.aspect_ratio }}%;"
>
  {%- render 'image-banner',
    banner: section,
    blocks: section.blocks,
    wrapper_id: banner_id,
    height: section.settings.image_height
  -%}
</div>

{% schema %}
{
  "name": "RSP Image Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        },
        {
          "value": "xl",
          "label": "XL"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "info": "Set a default black overlay if you aren't adding custom color overlays",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "image_picker",
      "id": "dynamic_mobile_image",
      "label": "Dynamic mobile image",
      "info": "Connect this to a metafield to have the image above be replaced if there is a custom image for the current page, collection, etc"
    },
    {
      "type": "color_background",
      "id": "mobile_image_overlay_background",
      "label": "Mobile overlay color"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "Mobile content position"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "fix_buttons_below_on_mobile",
      "label": "Fix buttons below on mobile"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "dynamic_desktop_image",
      "label": "Dynamic desktop image",
      "info": "Connect this to a metafield to have the image above be replaced if there is a custom image for the current page, collection, etc"
    },
    {
      "type": "color_background",
      "id": "desktop_image_overlay_background",
      "label": "Desktop overlay color"
    },
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Constrain maximum width on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "range",
      "id": "desktop_column_width",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 12,
      "label": "Desktop column width",
      "info": "Set how wide the content should be, out of 12 columns. E.g. 6 columns = half-width."
    },
    {
      "type": "range",
      "id": "desktop_column_start",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 1,
      "label": "Desktop column start",
      "info": "Set where the content should begin, from left to right. Setting it to 1 starts the content on the left. Setting it to 7 starts it at the center of the screen."
    },
    {
      "type": "range",
      "id": "desktop_content_max_width",
      "min": 300,
      "max": 1300,
      "step": 10,
      "unit": "px",
      "label": "Maximum content width on desktop",
      "default": 450
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "customize_colors",
      "label": "Customize colors"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button background color"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color"
    },
    {
      "type": "color",
      "id": "container_background_color",
      "label": "Container background color",
      "info": "This sets the background color when 'show container' is checked."
    },
    {
      "type": "color",
      "id": "mobile_text_color",
      "label": "Mobile text color"
    },
    {
      "type": "color",
      "id": "mobile_button_background_color",
      "label": "Mobile button background color"
    },
    {
      "type": "color",
      "id": "mobile_button_text_color",
      "label": "Mobile button text color"
    },
    {
      "type": "color",
      "id": "mobile_container_background_color",
      "label": "Mobile container background color",
      "info": "This sets the background color when 'show container' is checked."
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "screen_reader_only",
          "label": "Only for screen readers"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        },
        {
          "type": "checkbox",
          "id": "screen_reader_only",
          "label": "Only for screen readers"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "content_image",
      "name": "Content Image",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "max_width",
          "label": "Set a maximum width",
          "min": 100,
          "max": 600,
          "step": 5,
          "unit": "px",
          "default": 200
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Custom Liquid/HTML",
      "limit": 3,
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "RSP Image Banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
