.rc_block.rc_block__type {
  padding: 0;
  border-radius: 4rem;
  border: 1px solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
}

.rc_radio:checked,
.rc_radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

label.rc_label {
  padding: 2.4rem 2.4rem 2.4rem 5.4rem;
  position: relative;
  width: 100%;
  display: flex;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: rgb(var(--color-foreground));
  transition: color var(--duration-short) ease;
  align-items: center;
  cursor: pointer;
}
.rc_block__type--active .rc_label {
  color: rgb(var(--color-background));
}

label.rc_label .rc_price {
  margin-left: auto;
}

.rc_radio + label:before {
  content: '';
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  border: 0.1rem solid rgb(var(--color-foreground));
  transition: border-color var(--duration-short) ease;
}
.rc_radio:checked + label:before {
  border-color: rgb(var(--color-background));
}

.rc_radio + label:after {
  content: '';
  width: 12px;
  height: 12px;
  transition: border-color var(--duration-short) ease;
  background: rgb(var(--color-background));
  position: absolute;
  top: 2.9rem;
  left: 2.9rem;
  border-radius: 100%;
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: opacity var(--duration-short) ease, transform var(--duration-short) ease;
}
.rc_radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.rc_label__onetime,
.rc_label__autodeliver {
  min-height: 7rem;
}
.rc_block__type__onetime,
.rc_block__type__autodeliver {
  position: relative;
  max-height: 72px;
  transition: background-color var(--duration-short) ease, max-height var(--duration-short) ease;
}
.rc_block__type--active {
  background-color: rgb(var(--color-accent, var(--color-foreground)));
  border-color: rgb(var(--color-accent, var(--color-foreground)));
  max-height: 160px;
}
.rc_block__outline {
  display: none;
}
.rc_radio:focus-visible ~ .rc_block__outline {
  display: block;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 40px;
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.rc_block__type__options {
  margin-top: -1.2rem;
}
.rc_label.rc_label__deliver_every {
  padding: 0 2.4rem 2.4rem 2.4rem;
}
.rc_select__frequency {
  margin-left: 1.2rem;
  flex: 1 1 auto;
  height: 4.8rem;
  border: 1px solid rgb(var(--color-background));
  padding: 1.2rem 4rem 1.2rem 1.2rem;
  line-height: 1.2;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgb(var(--color-accent, var(--color-foreground)));
  color: rgb(var(--color-background));
  border-radius: 4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center right 1rem;
  background-repeat: no-repeat;
  background-size: 2.4rem;
  -webkit-appearance: none;
  appearance: none;
}
.rc_select__frequency:focus-visible {
  outline: none;
}

fieldset#rc_radio_options {
  border: none;
  padding: 0;
  margin: 0;
}
fieldset#rc_radio_options > .form__label {
  margin-bottom: 0;
}
.rc_block__type__onetime,
.rc_block__type__autodeliver {
  margin-top: 0.6rem;
}

@media screen and (min-width: 750px) {
  div#rc_container {
    max-width: 44rem;
  }
}

div#rc_container {
  display: block;
  clear: both;
  flex: none;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
div#rc_container > .select-wrapper {
  display: none;
}
#rc_duplicateSelect,
#rc_shipping_interval_unit_type,
#rc_subscription_id {
  display: none !important;
}

.rc_subscription-only label.rc_label__deliver_every {
  padding-left: 0;
}

span.rc_label__delivery {
  padding-right: 4px;
}

select.rc_select {
  margin-bottom: 0;
  vertical-align: middle;
  max-width: 100%;
  font-size: 100%;
  display: initial;
}

div.rc_block {
  white-space: nowrap;
}

.rc_subscription-only div.rc_block__type {
  padding-left: 0;
}

div.rc_block__type__options {
  display: none;
}

.rc_subscription-only div.rc_block__type__options,
div.rc_block__type--active div.rc_block__type__options {
  display: block;
}

div.rc_popup {
  display: none !important;
}
